* {
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  overflow: hidden;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-size: 3.5vw;
}

.columna {
  height: 100%;
  width: 19.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}

.columnaIn {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.05;
  -webkit-transform: skew(30deg) scaleY(1) translate(0, 0);
          transform: skew(30deg) scaleY(1) translate(0, 0);
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.columnaIn:hover {
  width: 350%;
  height: 300%;
}

.columna:nth-child(1) {
  background-color: #244F75;
  margin-left: -40vw;
  -webkit-animation: child1 1s;
          animation: child1 1s;
}

.columna:nth-child(2) {
  background-color: #60BFBF;
  margin-left: -20vw;
  -webkit-animation: child2 1s;
          animation: child2 1s;
}

.columna:nth-child(3) {
  background-color: #8C4B7E;
  -webkit-animation: child3 1s;
          animation: child3 1s;
}

.columna:nth-child(4) {
  background-color: #F8BB44;
  margin-left: 20vw;
  -webkit-animation: child4 1s;
          animation: child4 1s;
}

.columna:nth-child(5) {
  background-color: #F24B4B;
  margin-left: 40vw;
  -webkit-animation: child5 1s;
          animation: child5 1s;
}

@-webkit-keyframes child1 {
  from {
    margin-left: -60vw;
  }
  to {
    margin-left: -40vw;
  }
}

@keyframes child1 {
  from {
    margin-left: -60vw;
  }
  to {
    margin-left: -40vw;
  }
}

@-webkit-keyframes child2 {
  from {
    margin-top: -100vh;
  }
  to {
    margin-top: 0vh;
  }
}

@keyframes child2 {
  from {
    margin-top: -100vh;
  }
  to {
    margin-top: 0vh;
  }
}

@-webkit-keyframes child3 {
  from {
    margin-top: 100vh;
  }
  to {
    margin-top: 0vh;
  }
}

@keyframes child3 {
  from {
    margin-top: 100vh;
  }
  to {
    margin-top: 0vh;
  }
}

@-webkit-keyframes child4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes child4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes child5 {
  from {
    margin-left: 60vw;
  }
  to {
    margin-left: 40vw;
  }
}

@keyframes child5 {
  from {
    margin-left: 60vw;
  }
  to {
    margin-left: 40vw;
  }
}
/*# sourceMappingURL=css.css.map */